/*=============================================
 * body
 *=============================================*/

body {
    color: #000;
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1em;
    background: url(../img/shared/bg.jpg);
    min-width: inherit;
    min-height: inherit;
    max-height: 100%;
    font-weight: 400;
}

/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/

.fnt-mincho {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.fnt-meiryo {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fnt-gothic {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.fnt-san {
    font-family: 'Noto Sans JP', sans-serif;
}

.fnt-serif {
    font-family: 'Noto Serif JP', serif;
}

/*=============================================
 * .fnt - customs
 *=============================================*/

.fnt-mincho {}

.fnt-meiryo {}

.fnt-gothic {}

.fnt-garamond {}

/*=============================================
 * <main>
 *=============================================*/

main {
    clear: both;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.wrap {
    width: 1000px;
}

a:hover {
    text-decoration: none;
}

.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    position: relative;
}

.img_parallax {
    clip: rect(0, auto, auto, 0);
    margin-bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.img_parallax img {
    width: 100% !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(0);
}

header .menu_toggle p.btn-popup {
    display: inline-block;
}

.txt-r {
    text-align: right;
}

.txt-c {
    text-align: center;
}

.sp {
    display: none;
}

.pc {
    display: block;
}

section>div,
.row,
.col,
.box,
.gr,
.inner {
    position: relative;
}

.header_top_mb {
    display: none;
}

.rm-dots .slick-dots {
    display: none !important;
}

#ft_fixed {
    display: none;
}

.dl73 dt {
    width: 70% !important;
}

.dl73 dd {
    width: 30% !important;
}

.dl64 dt {
    width: 60% !important;
}

.dl64 dd {
    width: 40% !important;
}

/*=============================================
 * key
 *=============================================*/

#key {
    position: relative;
}

#key .slider-h,
#key .slider-h .slider {
    height: 900px;
}

.btn-popup {
    position: relative;
    z-index: 1;
}

/*
=============================================
*BTN-LINK
=============================================
*/

.btn-link {
    position: relative;
}

.btn-link i {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 37px;
    color: #fff;
    transition: all .3s;
    transition-delay: .7s;
}

.btn-link.bl i {
    color: #000;
}

.btn-link a:hover i {
    color: #000;
    z-index: 1;
    transition: all .3s;
    transition-delay: .7s;
}

.btn-link.bl a:hover i {
    color: #fff;
}

.btn-link a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0;
    color: #fff;
    padding: 0;
    width: 290px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    outline: none;
    transition: all .3s;
    transition-delay: .7s;
}

.btn-link.bl a {
    color: #000;
}

.btn-link span {
    line-height: 1;
}

.btn-link a:hover {
    background: #ffffff;
    color: #000000;
}

.btn-link.bl a:hover {
    background: #000;
    color: #fff;
}

.btn-link a span {
    display: inline-block;
}

.btn-link a::before,
.btn-link a::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #fff;
    transition: all 0.2s linear;
    width: 100%;
}

.btn-link.bl a::before,
.btn-link.bl a::after {
    background: #000;
}

.btn-link a span::before,
.btn-link a span::after {
    content: "";
    position: absolute;
    width: 1px;
    background: #fff;
    transition: all 0.2s linear;
    height: 100%;
}

.btn-link.bl a span::before,
.btn-link.bl a span::after {
    background: #000;
}

.btn-link a:hover::before,
.btn-link a:hover::after {
    width: 0;
}

.btn-link a:hover span::before,
.btn-link a:hover span::after {
    height: 0;
}

.btn-link a::after {
    right: 0;
    bottom: 0;
}

.btn-link a span::after {
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
}

.btn-link a::before {
    left: 0;
    top: 0;
    transition-delay: 0.4s;
}

.btn-link a span::before {
    right: 0;
    top: 0;
    transition-delay: 0.2s;
}

/*=============================================
 * header
 *=============================================*/

header {
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    position: absolute;
    top: 22px;
    left: 100px;
    z-index: 1;
    font-size: 13px;
    letter-spacing: 0.2em;
    line-height: 30px;
    color: #ffffff;
}

header>.col {
    width: 336px;
    position: absolute;
    top: 0;
    padding-top: 187px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
}

header>.col p.logo img:hover {
    opacity: 1;
}

header #popup .wrap {
    position: initial;
}

header p.btn-popup {
    position: absolute;
    top: 200px;
    right: 0;
}

header .btn-popup.btn-link a {
    font-size: 16px;
    letter-spacing: 0.08em;
    width: 50px;
    height: 290px;
    line-height: 50px;
    text-align: center;
}

header .btn-popup.btn-link a span {
    height: 100%;
    cursor: pointer;
    margin-top: -10px;
}

header .btn-popup.btn-link i {
    top: inherit;
    bottom: 19px;
    transform: translateX(-50%);
    right: inherit;
    left: 53%;
}

header>.nav-fl {
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 1000px;
}

header>.nav-fl ul {
    display: flex;
    justify-content: center;
}

header>.nav-fl ul li a {
    margin: 0 32px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.08em;
    display: block;
    position: relative;
}

header>.nav-fl ul li a span {
    text-align: center;
    display: block;
    line-height: 1;
}

header>.nav-fl ul li a small {
    display: block;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.2em;
    color: #bcbcbc;
    margin-top: 4px;
}

header .nav-fl ul li a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -12px;
    background: #fff;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

header .nav-fl ul li a:hover::before,
header .nav-fl ul li a.active::before {
    left: 0;
    right: 0;
}

header>.col p.tel {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.08em;
    margin: 15px 0 20px;
}

header>.col p.tel span.cl1 {
    font-size: 26px;
}

header>.col p.tel span.cl2 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    display: block;
    letter-spacing: 0;
    font-size: 15px;
    margin-top: -8px;
}

header>.col p.ins {
    margin-bottom: 32px;
}

header>.col .gr-btn {
    display: flex;
    justify-content: center;
}

header>.col .gr-btn p.btn {
    margin: 0 10px;
}

header .nav-fixed {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: -100px;
    opacity: 0;
    visibility: hidden;
    height: 80px;
    line-height: 80px;
    transition: all .3s ease;
    color: #fff;
}

header .nav-fixed.fixed {
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

header .nav-fixed a:hover {
    text-decoration: none;
}

header .nav-fixed .nav-fl {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-fixed ul {
    display: flex;
    justify-content: center;
}

header .nav-fixed li {
    list-style-type: none;
    position: relative;
    margin: 0 10px;
}

header .nav-fixed li:first-child {
    margin-left: 0;
}

header .nav-fixed li:last-child {
    margin-right: 0;
}

header .nav-fixed li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0;
}

header .nav-fixed .gr-btn {
    display: flex;
    justify-content: center;
    margin: 0 8px 0 12px;
}

header .nav-fixed .gr-btn p.btn:first-child a {
    text-align: left;
}

header .nav-fixed .gr-btn p.btn:first-child {
    margin-right: 2.5px;
}

header .nav-fixed .gr-btn p.btn:last-child {
    margin-left: 2.5px;
}

header .nav-fixed .btn-link a {
    font-size: 16px;
    padding-left: 18px;
    box-sizing: border-box;
    width: 120px;
}

header .nav-fixed .gr-btn p.btn:last-child a {
    padding-left: 0;
}

header .nav-fixed .btn-link i {
    right: 10px;
}

header .nav-fixed p.tel {
    font-size: 13px;
    letter-spacing: 0.025em;
    line-height: 1;
}

header .nav-fixed p.tel .cl1 {
    font-size: 22px;
    display: block;
}

header .nav-fixed p.tel .cl2 {
    font-size: 14px;
}

header .nav-fixed p.ins {
    align-self: flex-end;
    margin-left: 6px;
    position: relative;
    top: 4px;
}

header .nav-fixed .nav-fl ul li a::before {
    bottom: 21px;
}

#popup1 {
    background: url(../img/shared/bg.jpg);
    padding: 100px 155px 90px;
    box-sizing: border-box;
    color: #000;
    width: 900px;
    margin: 0 auto;
}

#popup1 h3 {
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #999999;
    display: inline-block;
    line-height: 1;
    padding: 0 5px 8px;
}

#popup1 h3 span {
    padding-bottom: 5px;
    border-bottom: 1px dashed #999999;
}

#popup1 p.txt {
    line-height: 30px;
}

#popup1 p.txt1 {
    margin: 28px 0 29px;
}

#popup1 p.txt2 {
    text-align: left;
}

#popup1 .menu-ul {
    padding: 4px 67px 4px 132px;
    box-sizing: border-box;
    background: url(../img/shared/popup-linel.png) no-repeat left top, url(../img/shared/popup-liner.png) no-repeat right top;
    text-align: left;
    margin-bottom: 30px;
}

#popup1 .menu-ul li {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 26px;
}

.remodal-wrapper {
    padding: 0 30px;
}

.remodal {
    max-width: 850px;
    padding: 3vw 20px;
    background: transparent;
}

.remodal-overlay {
    background: rgba(0, 0, 0, .93);
}

.remodal-close {
    background: transparent;
    color: #000;
    top: 18px;
    right: 125px;
    transition: all .3s ease;
}

.remodal-close:hover {
    opacity: .7;
}

.remodal-close:before {
    font-size: 70px;
}

/*navfix*/

/*=============================================
 * <footer>
 *=============================================*/

footer {
    padding: 104px 0 79px;
    background: #000;
    color: #fff;
}

footer address {
    font-size: 15px;
    padding: 16px 0 18px !important;
    display: block;
    letter-spacing: 0.1em;
    margin: 0;
}

footer .cookies_link {
    font-size: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

footer .cookies_link a {
    text-decoration: none;
    position: relative;
    transition: all .3s ease;
    padding-bottom: 1px;
}

footer .cookies_link a:hover {
    opacity: .8;
}

footer .cookies_link a::before {
    opacity: 1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

footer .cookies_link a:hover::before {
    display: none;
}

#pagetop {
    right: 2px;
}

#pagetop img {
    width: 100%;
    height: auto;
}

/*=============================================
 * <section>
 *=============================================*/

@media only screen and (max-width: 999px) {
    body img {
        max-width: 100%;
        height: auto;
    }
    .wrap {
        width: auto;
        padding: 0 5%;
    }
}

@media screen and (min-width: 767px) {
    .txt-ver-pc {
        cursor: vertical-text;
        writing-mode: vertical-rl;
        -o-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        -moz-writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        text-orientation: upright;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 15px;
        line-height: 1.9;
        letter-spacing: 0.1em;
    }
    .txt-ver-sp {
        cursor: vertical-text;
        writing-mode: vertical-rl;
        -o-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        -moz-writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        text-orientation: upright;
        word-wrap: break-word;
    }
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
    .df {
        flex-wrap: wrap;
    }
    .wrap {
        width: 100%;
        padding: 0 4%;
        box-sizing: border-box;
    }
    img {
        width: 100%;
        height: auto;
    }
    .header_top_mb {
        display: block;
    }
    #ft_fixed {
        display: block;
    }
    header .nav-fl {
        display: none;
    }
    .navOpen #pagetop {
        z-index: -1;
    }
    #pagetop {
        bottom: 0;
        right: 0;
        text-align: right;
        width: 15%;
    }
    #pagetop img {
        opacity: 0 !important;
    }
    #key::before {
        display: none;
    }
    #key {
        width: 100%;
        margin-left: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #key .slider-h,
    #key .slider-h .slider {
        height: 180vw;
    }
    header h1 {
        text-align: center;
        font-size: 2.8vw;
        position: relative;
        top: 0;
        left: 0;
        padding: 0 0 3vw !important;
        box-sizing: border-box;
        margin-top: 2vw !important;
    }
    header .nav-fixed,
    header .nav-fixed.fixed {
        height: 0;
    }
    header>.col p.tel,
    header>.col .nav-fl,
    .btn-box {
        display: none;
    }
    header .nav-fixed {
        display: none !important;
    }
    header {
        padding: 0;
    }
    header>.col {
        padding: 0 4%;
        height: 100%;
        box-sizing: border-box;
    }
    header>.col p.logo {
        width: 41%;
        margin: 41vw auto 22vw;
    }
    header p.btn-popup {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 3vw;
    }
    .btn-link a {
        width: 100%;
        height: 12vw;
        line-height: 12vw;
        font-size: 4vw;
        letter-spacing: 0.08em;
    }
    header .btn-popup.btn-link a {
        font-size: 4vw;
        letter-spacing: 0.08em;
        width: 100%;
        height: 12vw;
        line-height: 12vw;
        text-align: center;
    }
    header>.col .gr-btn p.btn {
        margin: 0;
        width: 48.5%;
    }
    header>.col .gr-btn {
        justify-content: space-between;
    }
    .btn-link i {
        right: 6vw;
    }
    header .btn-popup.btn-link i {
        top: 50%;
        bottom: inherit;
        transform: translateY(-50%);
        right: 6vw;
        left: inherit;
    }
    header #popup .wrap {
        position: initial;
        padding: 0;
    }
    .remodal {
        padding: 4vw 4% !important;
        box-sizing: border-box;
    }
    .remodal-close:before {
        font-size: 35px;
        font-family: 'Noto Serif JP', serif !important;
        color: #000;
        opacity: 1;
        font-weight: 700;
        content: '';
        background: url(../img/shared/popup-close_sp.png) no-repeat center center / 100% auto;
        width: 7vw;
        height: 10vw;
        left: 50%;
        transform: translateX(-50%);
        top: 1vw;
    }
    header .menu_toggle p.tel {
        text-align: center;
        color: #2c3d3a;
        margin: 0 0 5vw 0;
    }
    header .menu_toggle p.tel .ttl {
        padding-right: 0;
        font-size: 5.5vw;
    }
    header p.tel .cl1 {
        display: block;
        margin-top: 3vw;
    }
    header p.tel .cl1 span {
        font-size: 8vw;
        letter-spacing: 0.05em;
    }
    header .menu_toggle p.tel small {
        text-align: center;
        margin-top: 3vw;
        font-size: 4vw;
    }
    header .menu_toggle nav {
        display: block;
        margin-bottom: 9vw;
    }
    header .menu_toggle nav ul {
        width: 100%;
    }
    header .menu_toggle ul li {
        margin-bottom: 4vw;
        text-align: center;
    }
    header .menu_toggle p.ins {
        width: 10%;
        margin: 13vw auto 0;
    }
    .remodal {
        max-width: 90%;
    }
    #popup1 {
        width: 100%;
        padding: 12vw 4%;
        box-sizing: border-box;
    }
    #popup1 h3 span {
        display: inline-block;
        line-height: 1.6;
        padding: 0 5vw 3vw;
    }
    #popup1 h3 {
        font-size: 5.5vw;
        line-height: 1.5;
        padding: 0 6vw 2vw;
        display: block;
    }
    #popup1 p.txt1 {
        margin: 6vw 0 6vw;
        text-align: center !important;
        font-size: 3.5vw;
        letter-spacing: 0;
    }
    #popup1 p.txt2 {
        text-align: left;
    }
    #popup1 .menu-ul {
        padding: 3vw 2vw 3vw 9vw;
        background: url(../img/shared/popup-linel.png) no-repeat left top / auto 100%, url(../img/shared/popup-liner.png) no-repeat right top / auto 100%;
        margin-bottom: 6vw;
    }
    .remodal-wrapper {
        padding: 0;
    }
    .remodal-close {
        top: 5vw;
        right: 4% !important;
        z-index: 99;
    }
    footer {
        padding: 7vw 0 21vw;
    }
    footer address {
        font-size: 3.5vw;
        letter-spacing: 0.1em;
        padding: 5vw 0 3vw !important;
    }
    footer .cookies_link {
        font-size: 3vw;
        letter-spacing: 0.1em;
    }
    footer .cookies_link a:hover::before {
        display: block;
    }
}

/*IE*/

@media all and (-ms-high-contrast:none) {
    p.btn a img,
    header .nav-fl a img {
        transition: opacity 0s ease !important;
        -moz-transition: opacity 0s ease !important;
        -webkit-transition: opacity 0s ease !important;
    }
    .btn-over img,
    .over-img img,
    img.over,
    img:not(.btn):not(.non-over),
    button img {
        opacity: 1;
        transform: translateX(0) translateZ(0);
        -moz-transform: translateX(0) translateZ(0);
        -webkit-transform: translateX(0) translateZ(0);
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
    }
    .img_parallax>img {
        height: auto !important;
    }
    body::after {
        content: '';
        height: 1px;
        bottom: 0;
        display: block;
        width: 100%;
        background: #000;
        position: fixed;
    }
    .remodal-close:before {
        left: 5px;
    }
    header #popup .wrap {
        position: static;
    }
    header .nav-fixed .btn-link i {
        top: 55%;
    }
    header .nav-fixed .btn-link a {
        padding-left: 0;
    }
    header .nav-fixed .btn-link a span {
        margin-left: 16px;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}