@charset 'UTF-8';
/* Slider */

.slick-loading .slick-list {
    background: #fff url('../img/shared/ajax-loader.gif') center center no-repeat;
}

/* Icons */

/* @font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
} */

/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -30px;
    display: block;
    width: 45px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}

/* .slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
} */

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev {
    top: 310px;
    left: calc(50% - 771px);
    background: url(../img/shared/prev.png) no-repeat;
    z-index: 10000;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-next {
    top: 310px;
    right: calc(50% - 771px);
    background: url(../img/shared/next.png) no-repeat;
    z-index: 10000;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.slick-dots {
    position: absolute;
    bottom: -22px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    border: 1px solid #612503;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li.slick-active button {
    background: #612503;
}